@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";
// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$yellow: #ffcd3f;
$darkBlue: #304057;
$powderWhite: #fdfffc;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $yellow;
$dark: $darkBlue;
$link: $powderWhite;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $powderWhite;

// Import the rest of Bulma and others components
@import "../../node_modules/bulma/bulma";
@import "./loader";